# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Lambda
**/function.zip
**/__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# AWS
.aws/

# MCP (peut contenir des infos sensibles)
mcp.json

# Claude
.claude/
.claude.json*
.config/

# Windows system files
NTUSER.*
ntuser.*
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
3D Objects/
IntelGraphicsProfiles/
.gitconfig
.ssh/
output.json
sagemaker-optimization-report-*.md
